In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("consumo_casa.csv")

In [5]:
data = df.iloc[:, :3]
data

        Unnamed: 0             Fecha  Medidor [W]
0                0   2017-06-07 0:00      228.887
1                1   2017-06-07 0:01      231.814
2                2   2017-06-07 0:02      230.971
3                3   2017-06-07 0:03      231.878
4                4   2017-06-07 0:04      189.225
...            ...               ...          ...
194118      194118  2017-10-22 23:55       88.272
194119      194119  2017-10-22 23:56       86.386
194120      194120  2017-10-22 23:57       85.766
194121      194121  2017-10-22 23:58       87.665
194122      194122  2017-10-22 23:59       86.988

[194123 rows x 3 columns]

In [6]:
data.to_csv('entrada.csv', index=False)